<div class="row">
  <div class="col-xs-6">
    <div class="row start-xs">
      <div class="col-xs-12">
        <div class="box">
          <a routerLink="home" routerLinkActive="active">
            <img src="/assets/tlf-icon.jpg" alt="{{appName}}">
            <h1>{{appName}}</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row end-xs">
      <div class="col-xs-12">
        <div class="box">
          <span *ngIf="!isAuth()"><core-language-selector></core-language-selector></span>
          <button *ngIf="isAuth()" (click)="logout()">{{ 'auth.logout._' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
