<section class="forgot">
  <form [formGroup]="forgotForm" (ngSubmit)="submitForm(forgotForm.value, forgotForm.valid)" *ngIf="!emailSent">
    <div class="form-group">
      <label>{{ 'auth.email' | translate }}:</label>
      <input class="form-control" type="text" placeholder="{{ 'auth.email' | translate }}" [formControl]="forgotForm.controls['email']">
    </div>
    <div class="form-group">
      <label>{{ 'auth.acc' | translate }}:</label>
      <input class="form-control" type="text" placeholder="{{ 'auth.acc' | translate }}" [formControl]="forgotForm.controls['account']">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default"  [disabled]="!forgotForm.valid">{{ 'submit' | translate }}</button>
    </div>
  </form>
  <div *ngIf="emailSent">
    <h3>{{ 'auth.forgot.sent' | translate }}</h3>
  </div>
</section>
